##########################################################
## Folders                                              ##
##########################################################

venv
.idea
__pycache__
build
dist
conf
.DS_Store

##########################################################
## Files                                              ##
##########################################################

*.spec
*.log
*.docx